.header {
  background-color: #003580;
  color: white;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 10px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
    background-color: #0071c2;
    color: white;
    width: 8rem;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.headerSearch {
  height: 30px;
  width: 95%;
  margin: auto;
  background-color: white;
  border: 2px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 8px;
  position: absolute;
  bottom: -45px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}
  
.headerSearchText {
  color: lightgray;
  cursor: pointer;
}
/* relative our headerSearch */
.date {
  position: absolute;
  top: 53px;
}

.options {
  position: absolute;
  top: 53px;
  background-color: white;
  color: gray;
  border-radius: 8px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4)
}

.optionsItem {
  width: 150px;
  padding: .7rem;
  display: flex;
  justify-content: space-between;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
  cursor: pointer;
}

.optionCounterButton {
  width: 25px;
  height: 20px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounter:disabled {
  cursor: not-allowed;
}