.navbar {
  background-color: #003580;
  color: white;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 10px 0px;
}

.logo {
  flex: 1;
}